In [2]:
# Import pandas
import pandas as pd

In [6]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt', delim_whitespace=True)
print(df)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student
0    12.240798   14.891   3606     283      2   34         11    Male      No  \
1    23.283334  106.025   6645     483      3   82         15  Female     Yes
2    22.530409  104.593   7075     514      4   71         11    Male      No
3    27.652811  148.924   9504     681      3   36         11  Female      No
4    16.893978   55.882   4897     357      2   68         16    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
395   8.764984   12.096   4100     307      3   32         13    Male      No
396   9.943838   13.364   3838     296      5   65         17    Male      No
397  14.882078   57.872   4171     321      5   67         12  Female      No
398  12.001071   37.728   2525     192      1   44         13    Male      No
399  10.159598   18.701   5524     415      5   64          7  Female      No

    Married         Ethnicity
0       Yes         Caucasian
1       Yes             Asian
2        No             Asian
3        No             Asian
4       Yes         Caucasian
..      ...               ...
395     Yes         Caucasian
396      No  African American
397     Yes         Caucasian
398     Yes         Caucasian
399      No             Asian

[400 rows x 11 columns]

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [10]:
#Compare the average income based on ethnicity.
print(df.groupby(["Ethnicity"]).mean(numeric_only=True))

                    Balance     Income        Limit      Rating     Cards
Ethnicity
African American  13.801402  47.682101  4881.595960  365.070707  2.959596  \
Asian             13.293681  44.187833  4607.823529  345.431373  2.970588
Caucasian         13.313445  44.521945  4728.462312  354.773869  2.949749

                        Age  Education
Ethnicity
African American  57.505051  13.525253
Asian             53.911765  13.607843
Caucasian         55.653266  13.331658

In [18]:
#On average, do married or single people have a higher balance?
married_balance = df[df.Married=="Yes"].loc[:,"Balance"].mean()
single_balance = df[df.Married=="No"].loc[:,"Balance"].mean()

print("The average of balance of married people is", married_balance)
print("The average of balance of single people is", single_balance)
if married_balance > single_balance:
    print("Married people have a higher balance.")
else:
    print("Single people have a higher balance.")

The average of balance of married people is 13.388473477498913
The average of balance of single people is 13.493509015134242
Single people have a higher balance.

In [20]:
#What is the highest income in our dataset?
print("The highest income in our dataset is", df.loc[:,"Income"].max())

The highest income in our dataset is 186.634

In [23]:
#What is the lowest income in our dataset?
print("The lowest income in our dataset is", df.loc[:,"Income"].min())

The lowest income in our dataset is 10.354

In [24]:
#How many cards do we have recorded in our dataset?
print("Total numbers of cards recorded in our dataset is", df.loc[:,"Cards"].sum())

Total numbers of cards recorded in our dataset is 1183

In [29]:
#How many females do we have information for vs how many males?
print("We have", df[df.Gender=="Female"].loc[:,"Gender"].count(), "of female information and", df[df.Gender=="Male"].loc[:,"Gender"].count(), "of male information.")

We have 207 of female information and 193 of male information